:root {
  --theme-color: #22c55e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  line-height: 1.3;
}

body {
  background: #efefef;
  color: #333;
  display: grid;
  justify-content: center;
  place-items: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--theme-color);
}

ul,
ol {
  margin-block-start: 10px;
  margin-inline-start: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.header img {
  width: 48px;
}

h1 {
  font-size: 1rem;
}

.wrapper {
  display: grid;
  gap: 20px;
  background: #fff;
  width: 600px;
  padding: 20px 40px;
  border-radius: 15px;
}

.countdown {
  text-align: center;
  background: var(--theme-color);
  color: #fff;
  padding: 10px;
  border-radius: 7px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
}

.event {
  display: grid;
  gap: 10px;
}

.event__title {
  font-size: 1.2rem;
  font-weight: bold;
}

.event__date {
  color: rgb(99, 96, 96);
}

.event__detials {
  font-size: 0.8rem;
}

.url {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
}

.url__btn {
  background: rgb(43, 42, 42);
  display: inline-block;
  padding: 5px 15px;
  border-radius: 7px;
}

.url a {
  text-decoration: none;
  color: var(--theme-color);
}

.url a:hover {
  text-decoration: underline;
}

.footer {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
    padding: 10px;
  }
}
